.venv/
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.idea/
.vscode/

**/data/
**/dataset/
**/logs/
**/logs_*/
**/runs/
**/checkpoints/
**/weights/

*.pth
*.pt
*.onnx
events.out.tfevents.*

.DS_Store
Thumbs.db
